@charset "UTF-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #fff;
  line-height: 1.4em;
  text-align: center;
  background-color: #BF3EFF;
}

.wrapper {
  width: 100%;
  padding: 0 4%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
 font-family: 'Rock Salt', cursive;
 color: #eaeaea;
 padding-bottom: 25px;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

h4 {
  font-family: 'Rock Salt', cursive;
  color: #eaeaea;
  font-size: 2.8em;
  margin-top: 50px;
}

section > h3 {
  margin-left: 40px;
}

header {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("C:/Users/jngyn/Desktop/awesomefest-files/images/awesomefest-header.jpg");
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
}

.images {
  display:flex;
}

.images div #imgTwo {
  width: 600px;
  height: 426px;
  display: block;
}

table {
  margin: 0 12%;
  border-collapse: collapse;
  border-spacing: 10px 0;
}

table, td, tr {
  border: 1px solid #DDD;
}

td, tr {
  padding: 10px;
}

main {
  padding-top: 60px 0;
}

footer p {
  color: #333;
  padding: 30px;
}

/* Form styles including color transition effect when user enters text in textbox */
input[type=text], input[type=email], input[type=tel], select {
  width: 100%;
  padding: 12px;
  border: 3px solid #CCC;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #2B88DE;
  transition: 0.5s;
  outline: none;
  resize: vertical;
}

/* transition color - used :focus to target input field to change colors */
input[type=text]:focus {
  border: 3px solid #65D1F9;
}

input[type=submit] {
 background-color: #65D1F9;
 color: white;
 margin: 20px;
 padding: 12px 40px;
 border: none;
 border-radius: 20px;
 cursor: pointer;
 float: right;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
}

/* Form container */
.container {
  display: inline-block;
  border-radius: 5px;
  padding: 60px;
  background-color: rgb(117,70,120,0.4);
  width: 100%;
  height: 845px;
}

/* Heart Icon */
i {
  padding: 50px;
  margin-top: 20px;
  color: #000;
}

section > i {
  margin-bottom: 15px;
}
